.container-inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 750px;
}
.titulo{
  text-align: center;
}
.inp-btnAgregar{
  display: grid;
}
.contador{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid;
  text-align: center;
  background-color: #242424;
}
.container-task{
  padding: 10px;
  border: 1px solid;
  margin-top: 15px;
  min-height: 400px;
}
.tareas{
  border: 1px solid;
  margin-top: 10px;
  display: flex;
  align-items: center;
  
}
.nombreTarea{
  margin-left: 20px;
  margin-right: 30px;

}
.checkbox{
  margin-left: 18px;
}